body {
  margin: 0;
  background: repeating-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(10, 85, 55) 0%,
    rgb(4, 103, 122) 100%
  );
  background-color: #1c92d2;
  
}

/* M A I N    C O N T A I N E R */
#container {
  height: auto;
  width: 50vw;
  margin-top: 5vh;
  margin-left: 25vw;
  background-color: #242b3e;
  position: absolute;

}
/* To Do heading */
#first-heading {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: 1000;
  padding: 1rem;
}

/* DESCRIPTION DIV */
#description {
  border-bottom: 1.5px solid white;
  border-top: 1.5px solid white;
  padding-bottom: 2%;
}
#description p {
  font-weight: 1000;
  color: white;
  margin: 2%;
}
#description input {
  margin-left: 2%;
}
#input-description {
  width: 90%;
  height: 10vh;

  font-size: 1.3rem;
  padding-left: 2%;
}

/* A D D   B U T T O N    C O N T A I N R */
#add-delete-container {
  text-align: center;
  margin-top: 5%;
  border-bottom: 2px solid white;
  padding-bottom: 2%;
}
#add-task-btn {
  width: 20%;
  height: 7vh;
  font-weight: 800;
  background-color: rgb(56, 205, 216);
}
/* clear and complete buttons */
#clear-complete {
    font-size: 1.2rem;
    width: 100%;
    margin: 0%;
    margin-top: 1%;
    font-family: monospace;
    color: rgb(179, 175, 175);
  }
  #clear-all {
    background-color: rgb(47, 154, 255, 0.2);
    padding: 3px;
    border-radius: 25px;
    margin-right: 4px;
    border: 2px solid rgb(2, 2, 14);
    float: right;
    color: white;
    cursor: pointer;
  }
  #complete-all {
    background-color: rgb(47, 154, 255, 0.2);
    padding: 3px;
    border-radius: 25px;
    color: white;
    border: 2px solid rgb(2, 2, 14);
    cursor: pointer;
  }

/* List Element*/
#list li.checked {
  text-decoration: line-through rgba(175, 9, 9, 1);
}
#list li:hover {
  background-color: cadetblue;
  cursor: pointer;
}
/* Task Container */
#task-info {
  border-top: 2px solid white;
  font-family: monospace;
  color: rgb(179, 175, 175);
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}
#task-info p {
  display: inline;
}
#task-type {
  width: 70%;
}
#task-type ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#task-type li {
  background-color: rgb(47, 154, 255, 0.2);
  color: white;
  padding: 3px;
  border: 2px solid rgb(2, 2, 14);
  margin-left: 10%;
  border-radius: 25px;
  display: inline;
  cursor: pointer;
}


/* D I S P L A Y     A L L   T A S K */
#all-tasks {
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 2%;
}
#list li {
  transition: all 0.5s;
  background-color: rgb(47, 154, 255, 0.2);
  height: 3vh;
  width: 90%;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 2%;
  border-radius: 25px;
  margin-top: 1.5%;
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
}
.delete {
  float: right;
  margin-right: 7%;
  font-size: 1.5rem;
  /* padding: 1%; */
  color: black !important;
}

.delete:hover {
  background-color: red;
  z-index: 1;
}
#task-checkbox {
  margin-top: 4vh;
}

/* U T I L I T I E S */
.border-left-2 {
  border-left: 2px solid white;
  border-bottom: 5px solid white;
  border-top: 2px solid white;
}

#padding-2 {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0.4%;
  padding-top: 0.4%;
}
.float-right {
  float: right;
}
.align-center {
  text-align: center;
}
.inline-block {
  display: inline-block;
}
.white {
  color: white;
}
.font-1000 {
  font-weight: 1000;
}
.pad-5 {
  padding: 18%;
}
.desc-font {
  font-size: 1rem;
}

